    <div class="row">
        <div class="col-3">
            <%= image_tag("logo.png", class: 'logo-footer') %>
            <p>With a community of over 400+ million online users (and a majority age group being 18 to 29), wouldn’t you want to make sure that you are fully monitoring what people are posting on social networks?</p>
        </div>
        <div class="col-3">
            <h5>QUICK LINKS</h5>
        </div>
        <div class="col-3">
            <h5>SOCIAL</h5>
        </div>
        <div class="col-3">
            <h5>CONTACTS</h5>
        </div>
    </div> 
